{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
   <head>
      <style>
         body {
             height: 100%;
             width: 100%;
             text-decoration-color: black;
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center;
            background-image: url("\\media\\b.jpg");
         }
      </style>
   </head>

       <body class="text-center">
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
      <h1>Welcome </h1>
      <div>
          <h3><b>“To win in the marketplace you must first win in the workplace.” <br/>
                “There are only three measurements that tell you nearly everything<br/>
                 you need to know about your organization’s overall performance: <br/>
                 employee engagement, customer satisfaction, and cash flow.”</b>
          </h3>
      </div>
      <a href="http://localhost:8000/products/display/"><button class="btn btn-primary btn-lg">Start</button></a>
   </body>


</html>


{% endblock %}