{% extends 'base.html' %}
{% block content%}

<script>
        function printDiv(el) {
     var printContents = document.getElementById(el).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
    </script>
<div id='x'>
<h1>Department Store &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Receipt</h1>

<hr>


<table>
   
<table/>
<table>
                <thead>
                                <tr>
                                <th> ITEMS </th>
                                <th>QUANTITY </th>
                                <th>PRICE</th>
                                <th>TOTAL</th>
                                </tr>
                                </thead>
        <tbody>
                {% for t in list %}
                <tr>
                {% for a in t %}
                <td>
                                
                {{a}}
                &nbsp;
                
                </td>
                
                       
                
                
                {% endfor %}
                </tr> 
                <br/>
                {% endfor %}
        </tbody>
</table>


<br/>
<hr>
<table>
        <thead>
        <tr>
        <th> Total: </th>
        <th> {{total}}  </th>
        <th>   </th>
        </tr>
        </thead>
    <table/>
    <table>
            <thead>
            <tr>
            <th> Discount: </th>
            <th> {{discount}}  &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp
                        &nbsp<img src="\media\images (5).jpeg" width="80" height="110" > </th>
            </tr>
            </thead>
        <table/>
        <table>
                <thead>
                <tr>
                <th> Pay: </th>
                <th> {{pay}} </th>
                </tr>
                </thead>
            <table/>
<br/>
        </div id='x'>


<a href="http://localhost:8000/products/clear"><button class="btn btn-primary ">New Receipt</button></a>
<input type="button" onclick="printDiv('x')" value="Print!"/>

{% endblock %}
        